.bg{ background:#edf0f0;}

.fbox{ display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;}

.head_bg{ background:#222; color:#fff;}
.head_btn{color:#fff;}
.list_box{ margin:0 0 6px 0; border-top: 1px solid #ddd; 
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);}

.row_box{background:#fff; margin: 0 0 10px 0; border-top: 1px solid #ddd; 
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);}
.dlbl{ color:#222;}