<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" head_bg" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon head_btn" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">WebGMT</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1"
        style="padding:10px">
        <div class="row row_box" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <div class="dlbl" data-comp-id="text.1" ng-bind="data.taskname">Task Name</div>
            </div>
        </div>
        <div class="row row_box" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <div class=" dlbl" data-comp-id="text.2" ng-bind="data.gatename">Gate Name</div>
            </div>
        </div>
        <div class="row row_box" data-comp-id="row.3">
            <div class="col" data-comp-id="column.3">
                <div class=" dlbl" data-comp-id="text.3" ng-bind="data.dueDate">Due Date</div>
            </div>
        </div>
        <div class="row row_box" data-comp-id="row.4">
            <div class="col" data-comp-id="column.4">
                <div class=" dlbl" data-comp-id="text.4" ng-bind="data.status">Due Date</div>
            </div>
        </div>
        <div class="row row_box" data-comp-id="row.5">
            <div class="col" data-comp-id="column.5">
                <label>
                    <span class="input-label dlbl required">Task Status</span>
                </label>
                <select class="item  item-input item-select-icon positive-icon"
                    data-comp-id="selectInput.1" ng-init="data.status"
                    ng-model="object.statusSelect"
                    ng-options="stat.id as stat.label for stat in object.status">
                    <option value="">Choose Status</option>
                </select>
            </div>
        </div>
        <div class="row row_box" data-comp-id="row.6">
            <div class="col" data-comp-id="column.6">
                <label style="">
                    <span class="input-label dlbl required">Comments</span>
                </label>
                <textarea class="item item-input item-stacked-label"
                    data-comp-id="textAreaInput.1" ng-model="data.comment" rows="4"
                    style="width:100%"></textarea>
            </div>
        </div>
        <div class="row row_box" data-comp-id="row.7">
            <div class="col" data-comp-id="column.7">
                <label style="">
                    <span class="input-label dlbl required">Comments</span>
                </label>
                <div data-comp-id="text.5" ng-bind="data.comments">Some text</div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class=" bar-positive" data-comp-id="footer-bar.1"
        dynamic-fixed-footer="">
        <div class="row dark-bg" data-comp-id="row.8" style="padding: 0px; margin: 0px;">
            <div class="col" data-comp-id="column.8" style="padding: 0px; margin: 0px;">
                <button
                    class="button button-block ion-android-cancel assertive-icon button-energized"
                    data-comp-id="button.2" ng-click="cancel()"
                    style="font-size: 150%; margin:0; padding:10px;"></button>
            </div>
            <div class="col" data-comp-id="column.9" style="padding: 0px; margin: 0px;">
                <button class="button button-block ion-checkmark-circled button-energized"
                    data-comp-id="button.3" ng-click="update()"
                    style="font-size: 150%; margin:0; padding:10px;"></button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>