<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">WebGMT</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <div ng-repeat="item in data.detail">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <div class=" light" data-comp-id="text.1" ng-bind="data.detail.taskname">Project Name</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <div class=" light" data-comp-id="text.2" ng-bind="data.detail.gatename">Task Name</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3">
                    <div class=" light" data-comp-id="text.3">Key</div>
                </div>
                <div class="col" data-comp-id="column.4">
                    <div class=" light" data-comp-id="text.4">Due Date</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.5">
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.1">
                        <span class="input-label required">Task Status</span>
                        <select ng-options="OverDue,Closed"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.5">
                <div class="col" data-comp-id="column.6">
                    <label class="item item-input item-stacked-label" data-comp-id="textAreaInput.1"
                        style="">
                        <span class="input-label light required">Comments</span>
                        <textarea class="input-label light required" rows="4"></textarea>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class=" bar-positive" data-comp-id="footer-bar.1"
        dynamic-fixed-footer="">
        <div class="row positive-bg" data-comp-id="row.6">
            <div class="col" data-comp-id="column.7">
                <button
                    class="button button-block ion-android-cancel assertive-icon button-assertive"
                    data-comp-id="button.2" style="font-size: 150%;"></button>
            </div>
            <div class="col" data-comp-id="column.8">
                <button class="button button-block ion-checkmark-circled button-assertive"
                    data-comp-id="button.3" style="font-size: 150%;"></button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>