<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">WebGMT</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <div class=" light" data-comp-id="text.1">Project Name</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <div class=" light" data-comp-id="text.2">Task Name</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.3">
            <div class="col" data-comp-id="column.3">
                <div class=" light" data-comp-id="text.3">Key</div>
            </div>
            <div class="col" data-comp-id="column.4">
                <div class=" light" data-comp-id="text.4">Due Date</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.4">
            <div class="col" data-comp-id="column.5">
                <label class="item  item-input item-select-icon positive-icon"
                    data-comp-id="selectInput.1">
                    <span class="input-label">Task Status</span>
                    <select ng-options="OverDue,Closed"></select>
                </label>
            </div>
        </div>
        <div class="row" data-comp-id="row.5">
            <div class="col" data-comp-id="column.6">
                <label class="item item-input item-stacked-label" data-comp-id="textAreaInput.1">
                    <span class="input-label light">Comments</span>
                    <textarea rows="4"></textarea>
                </label>
                <div class="item item-icon-right positive positive-bg" data-comp-id="item.1">
                    <div class=" light" data-comp-id="text.5">To Do list
                        <span class="item-note"></span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar data-comp-id="footer-bar.1" dynamic-fixed-footer=""></ion-footer-bar>
</ion-view>